[Unit]
Description=app

[Service]
Type=simple
Restart=always
RestartSec=3s
Environment=RUST_LOG=test
ExecStart=/opt/app/test_pipeline

[Install]
WantedBy=multi-user.target
