[Unit]
Description=app

[Service]
Type=simple
Restart=always
RestartSec=3s
Environment=FOO=BAR
ExecStart=/opt/app

[Install]
WantedBy=multi-user.target
